<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">


<resultMap type="member" id="memberList">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="EMAIL" property="email" />
		<result column="MEMBER_NICKNAME" property="memberNickname" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="ID_CARD_NUMBER" property="idCardNumber" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="STATUS" property="status" />
		<result column="NATION_NO" property="nationNo" />
		<result column="SOCIAL_ID" property="socialId" />
		<result column="SOCIAL_PROFILE" property="socialProfile" />
		<result column="NATION_NAME" property="nationName" />
</resultMap>

<resultMap id="boardResultSet" type="board">
		<result column="BOARD_NO"         property="boardNo" />
		<result column="BOARD_TITLE"      property="boardTitle" />
		<result column="MEMBER_NICKNAME"  property="boardWriter" />
		<result column="MODIFY_DATE"      property="modifyDate" />
		<result column="CREATE_DATE"	  property="createDate" />
		<result column="COUNT"            property="count" />
		<result column="ORIGINAL_NAME"    property="originalName" />
		<result column="BOARD_CONTENT"    property="boardContent" />
		<result column="CATEGORY_NO" 	  property="categoryNo" />
</resultMap>

<resultMap id="scoreResultSet" type="score">
		<result column="LEVEL_NO" property="levelNo" />
		<result column="TEST_DATE" property="testDate" />
		<result column="SCORE" property="score" />
	    <result column="MEMBER_NICKNAME" property="memberNickname" />
	    <result column="EMAIL" property="email" />
	    <result column="NATION_NO" property="nationNo" />
	    <result column="NATION_NAME" property="nationName" />
</resultMap>

	<!-- Member 쿼리문 -->

	<select id="selectListCount" resultType="_int">

		SELECT
				COUNT(*)
		  FROM	
		  		TB_MEMBER
		  WHERE

		  		STATUS IN ('K','F')
		
	</select>
	
	<select id="selectList" resultMap="memberList">
		SELECT
				MEMBER_NO,
				MEMBER_NAME,
				EMAIL,
				MEMBER_NICKNAME,
				BIRTHDAY,
				NATION_NO,
				MEMBER_ENROLL_DATE
		FROM
				TB_MEMBER
		WHERE
				STATUS IN ('K','F')
		ORDER
		   BY
		   		 MEMBER_ENROLL_DATE DESC
	</select>
	
	<select id="memberDetail" parameterType="member" resultMap="memberList">
		SELECT
				MEMBER_NO,
				MEMBER_NAME,
				EMAIL,
				MEMBER_NICKNAME,
				BIRTHDAY,
				NATION_NAME,
				MEMBER_ENROLL_DATE
		 FROM
				TB_MEMBER
		 JOIN
		 		TB_NATION USING (NATION_NO)

		 WHERE
				EMAIL = #{email}
				
	</select>
	
	<select id="memberTargetEmail" parameterType="member" resultMap="memberList">
		SELECT
				EMAIL
		  FROM
		  		TB_MEMBER
		  WHERE
		  		EMAIL = #{email}
	</select>
	
	
	<delete id="memberDelete" parameterType="String">
	
		UPDATE 
			   TB_MEMBER
		   SET 
		       STATUS='S' 
		 WHERE 
		       EMAIL = #{email} 
		  		
	</delete>
	
	
	
	
	<!-- 정보Board 쿼리문 -->

	<select id="selectBoardListCount" resultType="_int" parameterType="board">
		SELECT
				COUNT(*)
		  FROM	
		  		TB_BOARD
		  WHERE
		  		STATUS='Y'
		   AND
		    	CATEGORY_NO = '2'
		  	
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet" parameterType="board">
	   SELECT
			   BOARD_NO
			  ,BOARD_TITLE
			  ,MEMBER_NICKNAME
			  ,MODIFY_DATE
			  ,ORIGINAL_NAME
			  
		 FROM 
		 	  TB_BOARD
		 JOIN 
		 	  TB_MEMBER USING (MEMBER_NO)
		 	  
	LEFT JOIN
		 	  TB_FILE ON (BOARD_NO = REF_BNO)

		WHERE 
			  TB_BOARD.CATEGORY_NO = 2
		  AND
			  TB_BOARD.STATUS = 'Y'
		ORDER 
		   BY
		      MODIFY_DATE DESC
	

	</select>
	
	<select id="boardPosting" parameterType="board" resultMap="boardResultSet">
		SELECT
				BOARD_TITLE,
				BOARD_CONTENT
		 FROM
				TB_BOARD
		 WHERE
				BOARD_NO = #{boardNo}
		   AND
				CATEGORY_NO = '2'
				
	</select>
	
	<!-- 자유Board 쿼리문 -->
	  
	<select id="selectFreeBoardListCount" resultType="_int" parameterType="board">
		SELECT
				COUNT(*)
		  FROM	
		  		TB_BOARD
		  WHERE
		  		STATUS='Y'
		    AND
		    	CATEGORY_NO = '1'
	</select>
	
	<select id="selectFreeBoardList" resultMap="boardResultSet" parameterType="board">
		SELECT
			   BOARD_NO
			  ,BOARD_TITLE
			  ,MEMBER_NICKNAME
			  ,MODIFY_DATE
			  ,ORIGINAL_NAME
			  
		 FROM 
		 	  TB_BOARD
		 JOIN 
		 	  TB_MEMBER USING (MEMBER_NO)
		 	  
	LEFT JOIN
		 	  TB_FILE ON (BOARD_NO = REF_BNO)

		WHERE 
			  TB_BOARD.CATEGORY_NO = 1
		  AND
			  TB_BOARD.STATUS = 'Y'
		ORDER 
		   BY
		      MODIFY_DATE DESC
	

	</select>
	
	<select id="freeBoardPosting" parameterType="board" resultMap="boardResultSet">
		SELECT
				BOARD_TITLE,
				BOARD_CONTENT
		 FROM
				TB_BOARD
		 WHERE
				BOARD_NO = #{boardNo}
		   AND
		    	CATEGORY_NO = '1'
				
	</select>
	
	<update id="deleteBoardFree" parameterType="_int"> 
		UPDATE 
			   TB_BOARD 
		   SET 
		       STATUS='N' 
		 WHERE 
		       BOARD_NO = #{boardNo} 
	</update>
	
	<!-- 개인게시물 -->
	<select id="selectPerPostingListCount" resultType="_int" parameterType="board">
		SELECT
			   COUNT(*)
		 FROM 
		 	   TB_BOARD
		 JOIN 
		 	   TB_MEMBER USING (MEMBER_NO)
		WHERE 
			   TB_MEMBER.MEMBER_NICKNAME = #{memberNickname}
		  AND
			   TB_BOARD.STATUS = 'Y'
		ORDER 
		   BY
		       MODIFY_DATE DESC
		  	
	</select>
	
	<select id="selectPerPostingList" resultMap="boardResultSet" parameterType="_int">
	  SELECT
			   BOARD_NO
			  ,BOARD_TITLE
			  ,MODIFY_DATE
		 FROM 
		 	  TB_BOARD
		WHERE 
			  MEMBER_NO = #{memberNo}
		  AND
			  STATUS = 'Y'
		ORDER 
		   BY
		      MODIFY_DATE DESC
	

	</select>
	
	<select id="selectTopScoreList" resultMap="scoreResultSet">
		SELECT
				A.*
		FROM
				(
				SELECT
				
						MEMBER_NO,
                        MEMBER_NICKNAME,
                        EMAIL,
						LEVEL_NO,
						NATION_NAME,
						TEST_DATE,
						SCORE
				FROM
						TB_SCORE
                JOIN
                        TB_MEMBER USING (MEMBER_NO)
                JOIN
                        TB_NATION USING (NATION_NO)
				ORDER
				   BY
				   		SCORE DESC
				   		) A
				 WHERE 
				 		ROWNUM BETWEEN 1 AND 5
	</select>
	
	

</mapper> 