<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">


<resultMap type="member" id="memberList">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="EMAIL" property="email" />
		<result column="MEMBER_NICKNAME" property="memberNickname" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="ID_CARD_NUMBER" property="idCardNumber" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="STATUS" property="status" />
		<result column="NATION_NO" property="nationNo" />
		<result column="SOCIAL_ID" property="socialId" />
		<result column="SOCIAL_PROFILE" property="socialProfile" />
</resultMap>

<resultMap id="boardResultSet" type="board">
		<result column="BOARD_NO"         property="boardNo" />
		<result column="BOARD_TITLE"      property="boardTitle" />
		<result column="MEMBER_NICKNAME"  property="boardWriter" />
		<result column="MODIFY_DATE"      property="modifyDate" />
		<result column="COUNT"            property="count" />
		<result column="ORIGINAL_NAME"    property="originalName" />
		<result column="BOARD_CONTENT"    property="boardContent" />
	</resultMap>


	<!-- Member 쿼리문 -->

	<select id="selectListCount" resultType="_int">

		SELECT
				COUNT(*)
		  FROM	
		  		TB_MEMBER
		  WHERE

		  		STATUS IN ('K','F')
		
	</select>
	
	<select id="selectList" resultMap="memberList">
		SELECT
				MEMBER_NO,
				MEMBER_NAME,
				EMAIL,
				MEMBER_NICKNAME,
				BIRTHDAY,
				NATION_NO,
				MEMBER_ENROLL_DATE
		FROM
				TB_MEMBER
		WHERE
				STATUS IN ('K','F')
		ORDER
		   BY
		   		 MEMBER_ENROLL_DATE DESC
	</select>
	
	<select id="memberDetail" parameterType="member" resultMap="memberList">
		SELECT
				MEMBER_NAME,
				EMAIL,
				MEMBER_NICKNAME,
				BIRTHDAY,
				NATION_NO,
				MEMBER_ENROLL_DATE
		 FROM
				TB_MEMBER
		 WHERE
				EMAIL = #{email}
				
	</select>
	
	
	<update id="memberDelete" parameterType="String">
	
		UPDATE
				TB_MEMBER
		   SET
		  		STATUS = 'N'
		 WHERE
		  		EMAIL = #{email}
		  		
		  		
	
	</update>
	
	
	<!-- Board 쿼리문 -->

	<select id="selectBoardListCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM	
		  		TB_BOARD
		  WHERE
		  		STATUS='Y'
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet">
		SELECT
				BOARD_NO,
				BOARD_TITLE,
				CREATE_DATE
		 FROM
				TB_BOARD
		WHERE
				STATUS = 'Y'

	</select>
	
	<select id="boardPosting" parameterType="board" resultMap="boardResultSet">
		SELECT
				BOARD_TITLE,
				BOARD_CONTENT
		 FROM
				TB_BOARD
		 WHERE
				BOARD_NO = #{boardNo}
				
	</select>
	
	<!-- 댓글 관련 쿼리문 -->
	<!-- 
	<select id="selectReplyCount" parameterType="reply" resultMap="">
		SELECT
				REPLY_NO,
				REPLY_CONTENT,
				CREATE_DATE
		 FROM
		  		TB_REPLY
		  
	
	</select>
	-->

</mapper> 