<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<resultMap id="boardResultSet" type="board">
		<result column="BOARD_NO"         property="boardNo" />
		<result column="BOARD_TITLE"      property="boardTitle" />
		<result column="MEMBER_NICKNAME"  property="boardWriter" />
		<result column="MODIFY_DATE"      property="modifyDate" />
		<result column="COUNT"            property="count" />
		<result column="ORIGINAL_NAME"    property="originalName" />
		<result column="BOARD_CONTENT"    property="boardContent" />
	</resultMap>
	
	<!-- 정보게시판 글 개수 -->
	<select id="countInfoList" resultType="_int">
		SELECT
			   COUNT(BOARD_NO)
		  FROM 
		  	   TB_BOARD
		 WHERE 
		 	   CATEGORY_NO = 2
		   AND
		 	   STATUS = 'Y'
	</select>
	
	<!-- 정보게시판 글 리스트 조회 -->
	<select id="selectInfoList" resultMap="boardResultSet">
		SELECT
			   BOARD_NO
			  ,BOARD_TITLE
			  ,MEMBER_NICKNAME
			  ,MODIFY_DATE
			  ,COUNT
			  ,ORIGINAL_NAME
		 FROM 
		 	  TB_BOARD
		 JOIN 
		 	  TB_MEMBER USING (MEMBER_NO)
	LEFT JOIN
		 	  TB_FILE ON (BOARD_NO = REF_BNO)
		WHERE 
			  TB_BOARD.CATEGORY_NO = 2
		  AND
			  TB_BOARD.STATUS = 'Y'
		ORDER 
		   BY
		      MODIFY_DATE DESC
	</select>
	
	<!-- 정보게시글 작성하기 -->
	<insert id="insertInfo" parameterType="board">
		INSERT
		  INTO
		  	   TB_BOARD
		  	   (
		  	   BOARD_NO,
		  	   BOARD_TITLE,
		  	   BOARD_CONTENT,
		  	   MEMBER_NO,
		  	   CATEGORY_NO 
		  	   )
		VALUES 
			   (
			   SEQ_BOARD.NEXTVAL,
			   #{boardTitle},
			   #{boardContent},
			   #{memberNo},
			   2
			   )
	</insert>
	
	<!-- 정보게시판 검색한 글 수 -->
	<select id="countSearchInfo" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(BOARD_NO)
		  FROM 
		  	   TB_BOARD
		  JOIN 
		       TB_MEMBER USING (MEMBER_NO)
		 WHERE 
		 	   TB_BOARD.STATUS = 'Y'
		   AND 
		       CATEGORY_NO = 2
		 <if test="condition == 'content'">
		 	AND BOARD_CONTENT 
		 </if>
		 <if test="condition == 'title'">
		 	AND BOARD_TITLE  
		 </if>
		 <if test="condition == 'writer'">
		 	AND MEMBER_NICKNAME 
		 </if>
		  LIKE '%' || #{ keyword } || '%'
	</select>
	
	<!-- 정보게시판 검색 리스트 -->
	<select id="selectSearchInfo" parameterType="hashmap" resultMap="boardResultSet">
		SELECT
		       BOARD_NO,
		       BOARD_TITLE,
		       MEMBER_NICKNAME,
		       MODIFY_DATE,
		       COUNT,
		       ORIGINAL_NAME
		  FROM
		       TB_BOARD
		  JOIN
		       TB_MEMBER USING (MEMBER_NO)
	 LEFT JOIN
		 	   TB_FILE ON (BOARD_NO = REF_BNO)
		 WHERE
			   TB_BOARD.CATEGORY_NO = 2
		   AND
		       TB_BOARD.STATUS = 'Y'
		<choose>
			<when test="condition == 'writer'">
		   		AND MEMBER_NICKNAME
			</when>
			<when test="condition == 'title'">
		   		AND BOARD_TITLE	
			</when>
			<otherwise>
		   		AND BOARD_CONTENT
			</otherwise>
		</choose>
		  LIKE '%' || #{keyword} || '%'
		 ORDER
		    BY
		       MODIFY_DATE DESC
	</select>
	
	<!-- 자유게시판 글 개수 -->
	<select id="countFreeList" resultType="_int">
		SELECT
			   COUNT(BOARD_NO)
		  FROM 
		  	   TB_BOARD
		 WHERE 
		 	   CATEGORY_NO = 1
		   AND
		 	   STATUS = 'Y'
	</select>
	
	<!-- 자유게시판 글 리스트 조회 -->
	<select id="selectFreeList" resultMap="boardResultSet">
		SELECT
			   BOARD_NO
			  ,BOARD_TITLE
			  ,MEMBER_NICKNAME
			  ,MODIFY_DATE
			  ,COUNT
			  ,ORIGINAL_NAME
		 FROM 
		 	  TB_BOARD
		 JOIN 
		 	  TB_MEMBER USING (MEMBER_NO)
	LEFT JOIN
		 	  TB_FILE ON (BOARD_NO = REF_BNO)
		WHERE 
			  TB_BOARD.CATEGORY_NO = 1
		  AND
			  TB_BOARD.STATUS = 'Y'
		ORDER 
		   BY
		      MODIFY_DATE DESC
	</select>
	
	<!-- 자유게시글 작성하기 -->
	<insert id="insertFree" parameterType="board">
		INSERT
		  INTO
		  	   TB_BOARD
		  	   (
		  	   BOARD_NO,
		  	   BOARD_TITLE,
		  	   BOARD_CONTENT,
		  	   MEMBER_NO,
		  	   CATEGORY_NO
		  	   )
		VALUES 
			   (
			   SEQ_BOARD.NEXTVAL,
			   #{boardTitle},
			   #{boardContent},
			   #{memberNo},
			   1
			   )
	</insert>
	
	<!-- 자유게시판 검색한 글 수 -->
	<select id="countSearchFree" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(BOARD_NO)
		  FROM 
		  	   TB_BOARD
		  JOIN 
		       TB_MEMBER USING (MEMBER_NO)
		 WHERE 
		 	   TB_BOARD.STATUS = 'Y'
		   AND 
		       CATEGORY_NO = 1
		 <if test="condition == 'content'">
		 	AND BOARD_CONTENT 
		 </if>
		 <if test="condition == 'title'">
		 	AND BOARD_TITLE  
		 </if>
		 <if test="condition == 'writer'">
		 	AND MEMBER_NICKNAME 
		 </if>
		  LIKE '%' || #{ keyword } || '%'
	</select>
	
	<!-- 자유게시판 검색 리스트 -->
	<select id="selectSearchFree" parameterType="hashmap" resultMap="boardResultSet">
		SELECT
		       BOARD_NO,
		       BOARD_TITLE,
		       MEMBER_NICKNAME,
		       MODIFY_DATE,
		       COUNT,
		       ORIGINAL_NAME
		  FROM
		       TB_BOARD
		  JOIN
		       TB_MEMBER USING (MEMBER_NO)
	 LEFT JOIN
		 	   TB_FILE ON (BOARD_NO = REF_BNO)
		 WHERE
			   TB_BOARD.CATEGORY_NO = 1
		   AND
		       TB_BOARD.STATUS = 'Y'
		<choose>
			<when test="condition == 'writer'">
		   		AND MEMBER_NICKNAME
			</when>
			<when test="condition == 'title'">
		   		AND BOARD_TITLE	
			</when>
			<otherwise>
		   		AND BOARD_CONTENT
			</otherwise>
		</choose>
		  LIKE '%' || #{keyword} || '%'
		 ORDER
		    BY
		       MODIFY_DATE DESC
	</select>
	
	<!-- 자유 게시글 삭제 -->
	<update id="deleteBoardFree" parameterType="_int"> 
		UPDATE 
			   TB_BOARD 
		   SET 
		       STATUS='N' 
		 WHERE 
		       BOARD_NO = #{boardNo} 
	</update>
	
	<!-- 자유게시글 수정 -->
	<update id="updateBoardFree" parameterType="board"> 
		UPDATE 
		       TB_BOARD
		   SET 
		       BOARD_TITLE = #{boardTitle}, 
		       BOARD_CONTENT = #{boardContent}
		 WHERE 
		       BOARD_NO = #{boardNo} 
	</update>
	
	<update id="updateFileFree" parameterType="file"> 
		UPDATE 
		       TB_FILE
		   SET 
		       ORIGINAL_NAME = #{originalName}, 
		       UPLOAD_NAME = #{uploadName} 
		 WHERE 
		       REF_BNO = #{boardNo}
	</update>
	
	
	
	
	
	
	
	<!-- (공통)게시글 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE
			   TB_BOARD
		   SET 
		   	   COUNT = COUNT + 1
		 WHERE 
		 	   BOARD_NO = #{ boardNo }
		   AND 
		   	   STATUS = 'Y'
	</update>
	
	<!-- (공통)게시글 상세조회 -->
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT
			   BOARD_NO
			  ,BOARD_TITLE
			  ,BOARD_CONTENT
			  ,MEMBER_NICKNAME
			  ,MODIFY_DATE
			  ,ORIGINAL_NAME
		 FROM 
		 	  TB_BOARD
		 JOIN 
		 	  TB_MEMBER USING (MEMBER_NO)
	LEFT JOIN
		 	  TB_FILE ON (BOARD_NO = REF_BNO)
		WHERE 
			  TB_BOARD.BOARD_NO = #{ boardNo }
	</select>
	
	<!-- (공통)파일 업로드 -->
	<insert id="insertFile" parameterType="file">
		INSERT
		  INTO
		  	   TB_FILE
		  	   (
		  	   FILE_NO,
		  	   ORIGINAL_NAME,
		  	   UPLOAD_NAME,
		  	   REF_BNO
		  	   )
		VALUES 
			   (
			   SEQ_FILE.NEXTVAL,
			   #{originalName},
			   #{uploadName},
			   SEQ_BOARD.CURRVAL
			   )
	</insert>
	
	
	
	
	
	
	
	
</mapper> 