<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gameMapper">
	
	<resultMap id="lowerGameResultSet" type="lowerGame">
		<result column="QUIZ_NO" property="quizNo" />
		<result column="QUIZ_CONTENT" property="quizContent" />
		<result column="FIRST_CHOICE" property="firstChoice" />
		<result column="SECOND_CHOICE" property="secondChoice" />
		<result column="CORRECT" property="correct" />
		<result column="LEVEL_NO" property="levelNo" />
	</resultMap>
	
	<resultMap id="middleGameResultSet" type="middleGame">
		<result column="QUIZ_NO" property="quizNo" />
		<result column="QUIZ_CONTENT" property="quizContent" />
		<result column="FIRST_CHOICE" property="firstChoice" />
		<result column="SECOND_CHOICE" property="secondChoice" />
		<result column="CORRECT" property="correct" />
		<result column="LEVEL_NO" property="levelNo" />
	</resultMap>
	
	<resultMap id="upperGameResultSet" type="upperGame">
		<result column="QUIZ_NO" property="quizNo" />
		<result column="QUIZ_CONTENT" property="quizContent" />
		<result column="FIRST_CHOICE" property="firstChoice" />
		<result column="SECOND_CHOICE" property="secondChoice" />
		<result column="CORRECT" property="correct" />
		<result column="LEVEL_NO" property="levelNo" />
	</resultMap>

	<resultMap id="scoreResultSet" type="score">
		<result column="LEVEL_NO" property="levelNo" />
		<result column="TEST_DATE" property="testDate" />
		<result column="SCORE" property="score" />
	</resultMap>

	<resultMap id="userBadgeResultSet" type="userBadge">
		<result column="BADGE_NO" property="badgeNo" />
		<result column="BADGE_DATE" property="badgeDate" />
		<result column="BADGE_NAME" property="badgeName" />
		<result column="IMG_PATH" property="imgPath" />
	</resultMap>
	
	<!-- 초급 -->
	
	<select id="lowQuiz" resultMap="lowerGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT,
			   LEVEL_NO
		  FROM 
			   TB_LOWER_GAME
		 WHERE 
		 	   QUIZ_NO = 1
		   AND 
		 	   STATUS = 'Y'
	</select>
	
	<select id="lastNo" resultType="_int">
		SELECT
			   MAX(QUIZ_NO)
  		  FROM 
  		  	   TB_LOWER_GAME
	</select>
	
	<select id="nextQuiz" parameterType="_int" resultMap="lowerGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT
		  FROM 
			   TB_LOWER_GAME
		 WHERE 
		 	   QUIZ_NO = #{ quizNo } + 1
		   AND 
		 	   STATUS = 'Y'
	</select>
	
	<select id="prevQuiz" parameterType="_int" resultMap="lowerGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT
		  FROM 
			   TB_LOWER_GAME
		 WHERE 
		 	   QUIZ_NO = #{ quizNo } - 1
		   AND 
		 	   STATUS = 'Y'
	</select>
	
	<!-- 정답 개수 -->
	<select id="checkAnswer" parameterType="list" resultType="_int">
		SELECT
			   COUNT(QUIZ_NO)
		  FROM 
		  	   TB_LOWER_GAME
		 WHERE 
		 <foreach item="answer" collection="list" open="(" close=")" separator="OR">
		 	   QUIZ_NO = #{answer.no}
		   AND
		 	   CORRECT = #{answer.answer}
		 </foreach>
	</select>
	
	<!-- 중급 -->
	
	<select id="middleQuiz" resultMap="middleGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT,
			   LEVEL_NO
		  FROM 
			   TB_MIDDLE_GAME
		 WHERE 
		 	   QUIZ_NO = 1
		   AND 
		 	   STATUS = 'Y'
	</select>
	
	<select id="lastMiddleNo" resultType="_int">
		SELECT
			   MAX(QUIZ_NO)
  		  FROM 
  		  	   TB_MIDDLE_GAME
	</select>
	
	<select id="nextMiddleQuiz" parameterType="_int" resultMap="middleGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT
		  FROM 
			   TB_MIDDLE_GAME
		 WHERE 
		 	   QUIZ_NO = #{ quizNo } + 1
		   AND 
		 	   STATUS = 'Y'
	</select>
	
	<select id="prevMiddleQuiz" parameterType="_int" resultMap="middleGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT
		  FROM 
			   TB_MIDDLE_GAME
		 WHERE 
		 	   QUIZ_NO = #{ quizNo } - 1
		   AND 
		 	   STATUS = 'Y'
	</select>
	
	<select id="checkMiddleAnswer" parameterType="list" resultType="_int">
		SELECT
			   COUNT(QUIZ_NO)
		  FROM 
		  	   TB_MIDDLE_GAME
		 WHERE 
		 <foreach item="answer" collection="list" open="(" close=")" separator="OR">
		 	   QUIZ_NO = #{answer.no}
		   AND
		 	   CORRECT = #{answer.answer}
		 </foreach>
	</select>
	
	<!-- 고급 -->
	
	<select id="upperQuiz" resultMap="upperGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT,
			   LEVEL_NO
		  FROM 
			   TB_UPPER_GAME
		 WHERE 
		 	   QUIZ_NO = 1
		   AND 
		 	   STATUS = 'Y'
	</select>

	<select id="lastUpperNo" resultType="_int">
		SELECT
			   MAX(QUIZ_NO)
  		  FROM 
  		  	   TB_UPPER_GAME
	</select>

	<select id="nextUpperQuiz" parameterType="_int" resultMap="upperGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT
		  FROM 
			   TB_UPPER_GAME
		 WHERE 
		 	   QUIZ_NO = #{ quizNo } + 1
		   AND 
		 	   STATUS = 'Y'
	</select>

	<select id="prevUpperQuiz" parameterType="_int" resultMap="upperGameResultSet">
		SELECT
			   QUIZ_NO,
			   QUIZ_CONTENT,
			   FIRST_CHOICE,
			   SECOND_CHOICE,
			   CORRECT
		  FROM 
			   TB_UPPER_GAME
		 WHERE 
		 	   QUIZ_NO = #{ quizNo } - 1
		   AND 
		 	   STATUS = 'Y'
	</select>

	<select id="checkUpperAnswer" parameterType="list" resultType="_int">
		SELECT
			   COUNT(QUIZ_NO)
		  FROM 
		  	   TB_UPPER_GAME
		 WHERE 
		 <foreach item="answer" collection="list" open="(" close=")" separator="OR">
		 	   QUIZ_NO = #{answer.no}
		   AND
		 	   CORRECT = #{answer.answer}
		 </foreach>
	</select>
	
	<!-- 난이도별 점수 insert -->
	<insert id="insertScore" parameterType="hashmap">
		INSERT
		  INTO
		  	   TB_SCORE
		  	   (
		  	   MEMBER_NO,
		  	   LEVEL_NO,
		  	   SCORE
		  	   )
		VALUES 
			   (
			   #{ memberNo },
			   #{ levelNo },
			   #{ score }
			   )
	</insert>
	
	<!-- 사용자의 난이도별 점수 가져오기 -->
	<select id="selectScore" parameterType="_int" resultMap="scoreResultSet">
		SELECT
			   LEVEL_NO,
			   TEST_DATE,
			   SCORE
		  FROM 
		  	   TB_SCORE
		 WHERE 
		 	    MEMBER_NO = #{ memberNo }
		 ORDER
		    BY
		        LEVEL_NO DESC
	</select>
	
	<!-- 난이도별 뱃지 insert -->
	<insert id="insertBadge" parameterType="hashmap">
		INSERT
		  INTO
		  	   TB_USER_BADGE
		  	   (
		  	   MEMBER_NO,
		  	   BADGE_NO
		  	   )
		VALUES 
			   (
			   #{ memberNo },
			   #{ badgeNo }
			   )
	</insert>
	
	<!-- 뱃지 select -->
	<select id="selectBadge" parameterType="_int" resultMap="userBadgeResultSet">
		SELECT
			   BADGE_NO,
			   BADGE_DATE,
			   BADGE_NAME,
			   IMG_PATH
		  FROM 
		  	   TB_USER_BADGE
		  JOIN
		  	   TB_BADGE USING (BADGE_NO)
		 WHERE 
		 	   MEMBER_NO = #{ memberNo }
	</select>
	
</mapper>