<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberMapper">
	<resultMap type="member" id="memberList">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="EMAIL" property="email" />
		<result column="MEMBER_NICKNAME" property="memberNickname" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="ID_CARD_NUMBER" property="idCardNumber" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="STATUS" property="status" />
		<result column="NATION_NO" property="nationNo" />
		<result column="SOCIAL_ID" property="socialId" />
		<result column="SOCIAL_PROFILE" property="socialProfile" />
	</resultMap>


	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="member">
		
		INSERT INTO TB_MEMBER(
			MEMBER_NO,
			EMAIL,
			MEMBER_NICKNAME,
			MEMBER_PWD,
			MEMBER_NAME,
			BIRTHDAY,
			ID_CARD_NUMBER,
			STATUS,
			NATION_NO
		)
		VALUES(
			SEQ_MEMBER.NEXTVAL,
			#{email},
			#{memberNickname},
			#{memberPwd},
			#{memberName},
			#{birthday}, <!-- 한국인만 -->
			#{idCardNumber}, <!-- 한국인만 -->
			#{status},  <!-- 외국인만 -->
			#{nationNo} <!-- 외국인만 -->
		)
	</insert>
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT 
			  COUNT(EMAIL)
		  FROM
			  TB_MEMBER
		 WHERE
			  EMAIL = #{checkId}
	</select>
	<!-- 닉네임 중복 체크 -->
	<select id="nickCheck" parameterType="string" resultType="_int">
		SELECT
			  COUNT(MEMBER_NICKNAME)
		  FROM
			  TB_MEMBER
		 WHERE
		 	  MEMBER_NICKNAME = #{checkNick}
	</select>
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="member" resultMap="memberList">
		SELECT
			MEMBER_NO,
			EMAIL,
			MEMBER_NICKNAME,
			MEMBER_PWD,
			MEMBER_NAME,
			BIRTHDAY,
			ID_CARD_NUMBER,
			MEMBER_ENROLL_DATE,
			STATUS,
			NATION_NO,
			SOCIAL_ID,
			SOCIAL_PROFILE
		FROM
			TB_MEMBER
		WHERE
			EMAIL = #{email}
		AND
			STATUS IN ('K','F')
			
	</select>
	
	
	
	
	
	
	
	
	
</mapper> 