@charset "UTF-8";
/*구조잡기*/
div {
        border: solid red 1px;
        box-sizing: border-box;
    }
#mypage {
    width : 1000px;
    height: 500px;
    margin: auto;
}
#profile-image, #profile-info{
    height: 100%;
    float: left;
}
#profile-image{
    width: 30%;
}
#profile-info{
    width: 70%;
}
#img{
    width: 100%;
    height: 50%;
}
#img-btn{
    width: 100%;
    height: 10%;
}
#level{
    width: 100%;
    height: 10%;
}
#info{
    width:100%;
    height: 80%;
}
#profile-btn{
    width: 100%;
    height: 20%;
}

/*이미지 조정*/
#profile_img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 50%;
    border: 1px solid blue;
}